<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Отделы</title>
</head>
<body>
<h1>Список отделов</h1>

<form action="/add_department" method="post">
   <input type="text" name="name" placeholder="Название отдела" required>
   <input type="text" name="manager" placeholder="Заведующий отдела" required>
   <select name="store_id" required>
       {% for store in stores %}
           <option value="{{ store.id }}">{{ store.class_name }} - {{ store.number }}</option>
       {% endfor %}
   </select>
   <button type="submit">Добавить отдел</button>
</form>

<ul>
{% for department in departments %}
<li>{{ department.name }} - Заведующий: {{ department.manager }}</li>
{% endfor %}
</ul>

<a href="/">На главную</a>
<a href="/stores">Магазины</a>
<a href="/products">Товары</a>
</body>
</html>


